.loader-div {
    margin: 10px;
    padding: 20px;
}

.user-profile {
    margin: 10px !important;
    display: block;
    width: 100% !important;
}

.user-profile .user-image img {
    border-radius: 20px;
    height: 150px;
}

.user-profile .info-cards {
    display: contents;
}
.user-profile .card-root {
    width: 150px;
    margin: 10px;
    box-shadow: 2px 2px 3px #ccc;
}

.user-profile .card-root .card-content {
    padding: 0px !important;
}

.user-profile .info {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}